<!DOCTYPE html>
<html>
<head>
	<title>Find IIT Department (General, Gender-Neutral, 1st round only)</title>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
	<div id="app">
		<p>
			<label for="rank">Your rank</label>
			<input type="number" id="rank" v-model="rank"><br><br>
			<sup>Data contributed by <a href="https://github.com/Aniruddha-Deb/IIT_dep_finder">Aniruddha-Deb</a>.</sup>
		</p><hr>
		<div v-for="clg in clgs">
			<p v-if="clg[3] > rank">
				<b>{{ clg[0] }}</b> - {{ clg[1] }}
			</p>
		</div>
	</div>
	
	<script src="script.js"></script>
</body>
</html>
